### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.idea
*.iml
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/by.it_academy.utils/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.ScanNumberMy
.RandomExample
.MathemRandom
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store